#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ballsWrap {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ball {
  font-size: 2rem;
  background: #004e99;
  padding: 17px;
  border-radius: 50%;
}

.ballNum {
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  background-color: #fff;
}
