#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ballsWrap {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ball {
  font-size: 2rem;
  background: #004e99;
  padding: 17px;
  border-radius: 50%;
}

.ballNum {
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  background-color: #fff;
}

.blue {
  background: linear-gradient(to right, #aedbf4, #3e93ed);
}

.red {
  background: linear-gradient(to right, #da4453, #89216b);
}

.green {
  background: linear-gradient(to right, #00b09b, #96c93d);
}

.yellow {
  background: linear-gradient(to right, #ffe259, #ffa751);
}

.black {
  background: linear-gradient(to right, #646464, #000000);
}